.p-55
{
    padding: 55px;
}

.mt-20
{
    margin-top: 20px;
}
.mb-20
{
    margin-bottom: 20px;
}

.img{
    background-repeat: no-repeat;
    background-size: contain;
}

.btn-back:hover
{
    cursor: pointer;
    background-color: #5fb6c5;
    color: white;
}
.btn-back {
    background-color: white;
    color: #5fb6c5;
    border: 1px solid #5fb6c5;
}